{
  "env": {
    "node": true,
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    },
  },
  "plugins": [
    "node"
  ],
  "extends": [
    "plugin:node/recommended"
  ],
  "rules": {
    "node/exports-style": ["error", "module.exports"],
    "node/no-unpublished-require": ["error", {
      "allowModules": [
        "webpack",
        "webpack-dev-middleware",
        "webpack-hot-middleware"
      ],
    }]
  }
}
