{
  "env": {
    "es6": true,
    "node": true,
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    },
  },
  "plugins": [
    "node",
  ],
  "overrides": [
    {
      "files": ["*.spec.js"],
      "plugins": ["jest"],
      "env": {
        "jest/globals": true,
      },
      "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
      },
    },
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
  ],
  "rules": {
    "no-var": "error",
    "node/no-unpublished-require": ["error", {
      "allowModules": ["conventional-recommended-bump"]
    }],
    "no-multi-spaces": ["error"],
    "node/exports-style": ["error", "module.exports"]
  }
}
